body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(159, 160, 160);
    background-size: cover;
}

.container{
    padding: 10px;
    background: white;
    border-radius: 5px;
}

label {
    padding: 10px;
                

}

input {

    padding: 10px;

}
